body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;
  background-color: #849d8f;
}

a {
  color: #ffffff; 
}

a:focus,
a:hover,
a:active {
  color: #ffbc9e;
}

.visually-hidden {
  display: none;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.main-navigation {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;
  background-color: #849d8f;
}

.work-time {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #ffffff;
  text-transform: none;
  background-color: #849d8f;
}

.telephone-number {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;
  background-color: #849d8f;
}

.site-navigation,
.user-navigation {
  list-style: none;
}
.submenu-catalog-item{
font-size: 14px;
line-height: 16px;
font-weight: normal;
text-decoration: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
  text-decoration: none;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  font-weight: normal;
  text-decoration: none;
}

.submenu-catalog-item a:hover {
  color: #333333;  
  background-color: #fbded7;
  text-decoration: none;
}

.submenu-catalog-item a:focus {
  color: #333333;
  background-color: #f6b5a5;
  text-decoration: none;
}

.slider-list {
  list-style: none;
}

.slider-container h4 {
  font-size: 60px;
  line-height: 65px;
  font-weight: bold;
  text-align: center;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: linear-gradient(#f26843, #e74b36);
  border: none;
  outline: none;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(#f58669, #ec6f5e);
  outline: none;
}

.button:focus {
  color: #ffffff;
  background: linear-gradient(#f58669, #ec6f5e);
  outline: none;
}

.button:active {
  background: linear-gradient(#d84732, #e1603e);
  outline: none;
}

.button.slider {
  border: none;
  font: inherit;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  background-image: linear-gradient(#f26843, #e74b36);
  background-color: #ef6140;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.banner {
  border: none;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-image: linear-gradient(#f26843, #e74b36);
  background-color: #ef6140;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.filter {
  border-color: #ffffff;
  border-style: solid;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button.filter:hover {
  color: #000000;
  background: #ffffff;
}

.button.filter:focus {
  color: #000000;
  background: #ffffff;
}

.button.filter:active {
  color: #000000;
  background: #eaeaea;
  border: none;
  box-shadow: inset 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.banner-list {
  list-style: none;
}

.banner-container h4 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banner-list p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.popular-product-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item:hover {
  box-shadow: 0px 15px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.filter-option {
  list-style: none;
}

.filters-item {
  list-style: none;
}

filters {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.features {
  background-image: url('../img/waffle.jpg');
  background-color: #eee2c7;
}

.features-list {
  list-style: none;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.article10 {
  background-image: url('../img/article-image.jpg');
  background-color: #ffffff;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.article10 h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.article10 a,
.modal.modal-login a {
  color: #323232;
}

.article10 a:hover,
.article10 a:focus .modal.modal-login a:focus,
.modal.modal-login a:hover {
  color: #e84d37;
}
.subscribe{
  color: #5a5a5a;
  background-color: #f8f7f4;
}
.pagination-list {
  list-style: none;
}

.footer-social-list {
  list-style: none;
}

/* МОДАЛЬНОЕ */

.modal.modal-login {
  font: inherit;
  color: #000000;
  background-color: #f8f7f4;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  box-shadow: 0 9px 25px 3px rgba(0, 0, 0, 0.5);
}

.email-icon-user,
.login-icon-password {
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.login-form input:hover,
.search-form input:hover,
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #c7c6c5;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.login-form input:focus,
.search-form input:focus,
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #8fbdec;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.login-form a {
  margin: 10px 10px 10px 124px;
}

.button.login {
  text-decoration: none;
  margin: -60px 10px 10px 10px;
}

.modal.modal-search {
  font: inherit;
  color: #000000;
  background-color: #f8f7f4;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  box-shadow: 0 9px 25px 3px rgba(0, 0, 0, 0.5);
}

.search-area {
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.modal.modal-feedback {
  font: inherit;
  color: #000000;
  background-color: #f8f7f4;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.feedback-name,
.feedback-email {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.feedback-text {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.button.feedback-send {
  text-decoration: none;
  margin: -5px 10px 10px 320px;
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.67);
}

.modal.modal-feedback h2 {
  margin: 20px 0px 0px 25px;
}

/*КОРЗИНА*/

.cart-table {
  font: inherit;
  color: #000000;
  background-color: #f8f7f4;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 9px 25px 2px rgba(0, 0, 0, 0.5);
}

.cart-table th,
td {
  text-align: left;
  width: 65px;
  height: 35px;
}

.cart-table tr:nth-last-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-left: 10px;
}

.cart-product {
  width: 327px;
  height: 58px;
}

.cart-total-cost {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.cart-price {
  color: #999999;
}

.button.cart {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.67);
}

/*КАРТОЧКА ТОВАРА_ПРЕВЬЮ*/

.catalog-item-prevew {
  box-shadow: 0px 15px 20px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  font: inherit;
}

.catalog-item-prevew img {
  clip-path: circle(120px at center);
}

.button.prevew {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.67);
}

.cost.cost.prevew,
cost.kg-prevew {
  text-shadow: 0px 15px 20px 1px rgba(0, 0, 0, 0.2);
}

.cost.prevew {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.cost.kg-prevew {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}
